%minor-text{
    font-size: 0.8rem;
    font-weight: lighter;
    color: #8d8d8d;
}




body {
    padding: 40px;
    background-color: white;
}

form{
    display: block;
    width: 40rem;

    margin: auto;
    text-align: center;
    
}

form > input {
    margin: 1rem auto 1rem auto;
    display: block;
    }

form > select{
    margin: 1rem auto 1rem auto;
    display: block;
}

.listing-box {
    border: 0.1rem;
    border-style: dotted;
    border-color: black;
    padding: 1.5rem;
    display: flex;
    height: 14rem;
    width: 80%;
   
}

.listing-left{
    padding-right: 1rem;
    height: 10rem;
    width: 14rem;
    max-width: 30%;
    text-align: center;
    overflow: hidden;


    img{
        height: 100%;
        object-fit: cover;
        border-radius: 5%;
    }

}

.listing-right{
    width: auto; 
    width: 16rem;
    max-width: 70%;
    padding-left: 3rem;   
}

.created-text{
    @extend %minor-text
}

.listed
{
    width: 80vw;
    img{
        max-height: 20rem;
        max-width: 100%;
    }
}

.bid
{
    text-align: left;
    
    form{
        text-align: left;
        margin-left: 0;
    }

    input{
        width: 100%;

    }

}