{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class={{message.tags}}>
            {{message}}
        </div>
    {% endfor %}
{% endif %}

<div class="listed">
    <h2> Listing: {{listing.title}} </h2>
    {% if watched %}
        <form action="{% url 'watch' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{listing}}">
            <button type="submit" name="unwatch"> Unwatch </button>
        </form>
    {% else %}
        <form action="{% url 'watch' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{listing}}">
            <button type="submit" name="watch"> Watch </button>
        </form>
    {% endif %}

    <img src="{{listing.image}}" alt="{{listing.title}} image">
    <p>{{listing.description}}</p>
    
</div>

<div class="bid">
    {% if current_bid %}
        <h6> Current Bid</h6>
        <p> $ {{current_bid}} </p>
    {% else %}
        <h6> Bidding starts at: </h6>
        <p> ${{minimum_bid}} </p>
    {% endif %}
    <form action={% url 'listing' listing_id=listing.id %} method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">Bid</button>
    </form>

</div>

<form action={% url 'comments' listing_id=listing.id %} method="post">
    {% csrf_token %}
    {{comment_form}}
    <button type="submit">Comment</button>
</form>

{% endblock %}